---
title: Kubernetes
layout: default
permalink: /kubernetes/
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">Kuberenetes</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}{% endif %}</h2>
    <div class="about-description">
      <p>During some of the bug bountys I have found some good things like unprotected kuberenetes clusters.</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">
            <script src="https://gist.github.com/random-robbie/c43e1aea1292cabd0dd26bb4f709cc8d.js"></script><br><br>
        <script src="https://gist.github.com/random-robbie/83f926d7c6d2d72cb11ead2ea77766b7.js"></script>
          </ul>
    </div>
  </div>
</div>
