---
title: Media
layout: default
permalink: /media/
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">Media</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}{% endif %}</h2>
    <div class="about-description">
      <p>I have made some discoveries in the past and here are a few links to reports on what I have found.</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">
          <li class="email"><a href="http://www.bbc.co.uk/news/technology-42839462"><i class="fa fa-globe"></i> Exposed Amazon cloud storage clients get tip-off alerts</a></li>
          <li class="email"><a href="https://www.zdnet.com/article/teen-phone-monitoring-app-leaks-thousands-of-users-data/"><i class="fa fa-globe"></i> Teen phone monitoring app leaked thousands of user passwords</a></li>
          <li class="email"><a href="https://mackeepersecurity.com/post/honda-leaked-personal-information-from-its-honda-connect-app/"><i class="fa fa-globe"></i> Honda leaked personal information for more than 50,000 users of its Honda Connect App</a></li>
          <li class="email"><a href="https://www.bleepingcomputer.com/news/security/honda-india-left-details-of-50-000-customers-exposed-on-an-aws-s3-server/"><i class="fa fa-globe"></i> Honda India Left Details of 50,000 Customers Exposed on an AWS S3 Server</a></li>
          <li class="email"><a href="https://www.zdnet.com/article/jira-bug-exposed-private-server-keys-at-major-companies-researcher-finds/"><i class="fa fa-globe"></i> Jira bug exposed private server keys at major companies, researcher finds</a></li>
        
      
      
      </ul>
    </div>
    <div class="about-description">
      <p>Security Hall of Fames I am listed in.</p>
    </div>
    <div class="contact-contaiver">
                                 <ul class="contact-list">
          <li class="website"><a href="https://contact.security.aol.com/hof/"><i class="fa fa-globe"></i> AOL Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://bugbounty.att.com/hof.php#1Q2018"><i class="fa fa-globe"></i> AT&T Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://www.autotrader.co.uk/hall-of-fame"><i class="fa fa-globe"></i> AutoTrader Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://www.altmetric.com/security/"><i class="fa fa-globe"></i> Altmetric Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://cert.europa.eu/cert/newsletter/en/latest_HallOfFame_.html"><i class="fa fa-globe"></i> Cert EU Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="http://www.centurylink.com/aboutus/company-information/security-wall-of-fame.html"><i class="fa fa-globe"></i> CenturyLink Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://www.dell.com/learn/us/en/04/campaigns/contributors-dell-software-security#campaignTabs-3"><i class="fa fa-globe"></i> Dell Security Researcher Hall of Fame</a></li>
          <li class="website"><a href="https://www.google.com/about/appsecurity/hall-of-fame/archive/"><i class="fa fa-globe"></i> Google Security Researcher Hall of Fame</a></li>
      
      </ul>
      </div>
  </div>
</div>
