---
title: mysql
layout: default
permalink: /mysql/
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">mysql</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}{% endif %}</h2>
    <div class="about-description">
      <p>Sometimes we have access to a mysql Server and here are some fun commands.</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">
        SHOW TABLES;
        SHOW FULL TABLES;
        SHOW TABLES FROM database_name;
       
          </ul>
    </div>
  </div>
</div>
