---
title: S3 Buckets
layout: default
permalink: /s3/
---

<div class="home">
  <div class="page-heading">
    <h2 class="page-title">S3 Buckets</h2>
  </div>
  <div class="about">
    <div class="container-face">
      <img class="face" src="{{site.baseurl}}/assets/img/{% if site.pic %}{{ site.pic }}{% else %}github.jpg{% endif %}" alt="">
    </div>
    <h2 class="tagline">{% if site.tagline %}{{site.tagline}}{% else %}{% endif %}</h2>
    <div class="about-description">
      <p>I've been well known for dropping poc.txt in lots and lots of s3 buckets and below are some commands that will come in handy!</p>
    </div>
    <div class="contact-contaiver">
      <ul class="contact-list">
         I was recently asked how can I check a s3 bucket with out writing to it to see if it has bad permissions and the answer is a nice simple one.
<br><br>
You do need the AWS CLI installed which can be installed via pip.
<br><br>
In the command line type the following replacing the airpushmarketing with your bucket name.<br><br>
        <script src="https://gist.github.com/random-robbie/8acc2c39a275ddb11434787b3a3cd692.js"></script><br><br>
        If you see the below it’s time to shit the bed and fix that S3 bucket!
        <script src="https://gist.github.com/random-robbie/98bda1341afae3aede8a81feb77c729c.js"></script><br><br>
        
        at this point login to your AWS console find the bucket and remove public-upload permissions.<br><br>
        
        
        
        

<a href='https://i.postimg.cc/3yp4F3n9/Screen-_Shot-2018-02-25-at-07.53.03.png' target='_blank'><img src='https://i.postimg.cc/3yp4F3n9/Screen-_Shot-2018-02-25-at-07.53.03.png' border='0' alt='Screen-_Shot-2018-02-25-at-07.53.03'/></a><br><br>
I keep seeing something like this during some of my scans and i’ve come to find that you can hijack that file and do what you want with it despite the bucket not having the upload permissions.<br><br>
<br><br>
I created a quck script to show you how you can do a POC for a bounty program with out altering the files it’s self.<br><br>
<br><br>
simply save it and then run <br><br>
<br><br>  
<script src="https://gist.github.com/random-robbie/82a0fbdbda1443988cddab604c75ed01.js"></script>

<br><br>
<script src="https://gist.github.com/random-robbie/9c49f5d6c92884feb7b366802566b41d.js"></script><br><br>
<br><br>   
This will dump the json out showing you having full write permissions to that object.
       
          </ul>
    </div>
  </div>
</div>
